agroesb/src/main/app/agroesb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="webapiagro.azurewebsites.net" port="80"  doc:name="HTTP Request Configuration" connectionIdleTimeout="60000" enableCookies="true"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="POST_FILE" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://srvagrodb.database.windows.net:1433;DatabaseName=AgroDB;user=pfneto;password=jcdes01JC#" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"  doc:name="Generic Database Configuration" transactionIsolation="SERIALIZABLE" />
    <flow name="Validadescarte_Flow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="1" timeUnit="MINUTES"/>
            <db:execute-ddl config-ref="Generic_Database_Configuration" doc:name="Executa StoredProcedure">
                <db:dynamic-query><![CDATA[exec [dbo].[sp_valida_descarte]]]></db:dynamic-query>
            </db:execute-ddl>
        </poll>
        <logger level="TRACE" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="Envia_aviso_descarte">
        <poll doc:name="Aviso descarte">
            <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/api/ListaDescartes" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="SituacaoEnvio" value="SEPARADO"/>
                </http:request-builder>
            </http:request>
        </poll>
        <logger  level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Api_Fornecedor">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/OrcamentoFornecedor" allowedMethods="POST" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[{Id:,IdFornecedor ,  DataOrcamento ,   Status ,   Itens [    {       Id ,      IdProduto ,      IdOperacao ,      TipoOperacao ,      Quantidade ,      CustoUnitario ,      UnidadeMedida }]}]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON" metadata:id="967e2518-1768-4d31-8030-507b524864b6">
        </json:object-to-json-transformer>
        <logger level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="D:\" outputPattern="POST_FILE.txt" connector-ref="POST_FILE" responseTimeout="10000" doc:name="POST_FILE"/>
    </flow>
</mule>
